<!DOCTYPE HTML>
<html>
 <head>
  <title> 搜索表单</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
       <link href="/static/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/css/page-min.css" rel="stylesheet" type="text/css" />   <!-- 下面的样式，仅是为了显示代码，而不应该在项目中使用-->
   <link href="/static/assets/css/prettify.css" rel="stylesheet" type="text/css" />
   <style type="text/css">
    code {
      padding: 0px 4px;
      color: #d14;
      background-color: #f7f7f9;
      border: 1px solid #e1e1e8;
    }
    /*.bui-grid-cell-inner {*/
        /*height: 100px;*/
    /*}*/
    .img_box{
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-content: center;
    }
    .img_box > img {
        width: 33%;
        height: 100%;
    }
    .bar {
        height: 18px;
        background: green;
    }
    .content{
        width: 100%;text-align: center;margin-top: 70px;
    }
    #progress{
        border-radius:6px;width: 300px; background: #99CC00;
        margin: 10px auto;
    }
       /*.all_apks_box{*/
           /*height: 22px;*/
       /*}*/
       /*#all_apks{*/
           /*height: 22px;*/
           /*opacity: 0;*/
       /**/
       /*}*/
    label {
        position: relative;
    }
    #all_apks {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    #submit {
        margin-right: 5px;
    }
    #text {
        color: red;
    }
   </style>
 </head>
 <body>
  <div class="container">
    <div class="row">
      <form id="searchForm" class="form-horizontal span24">
        <div class="row">
        </div>
      </form>
    </div>
    <div class="search-grid-container">
      <div id="grid"></div>
    </div>
  </div>
  <div id="content" class="hide">
      <form id="J_Form" class="form-horizontal" action="">
        <div class="row">
          <div class="control-group span15">
            <label class="control-label"><s>*</s>版本号：</label>
            <div class="controls ">
              <input name="version_number" id="version_number" style="width:300px;" type="text" data-rules="{required:true, number:true}" class="input-normal control-text">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="control-group span15">
            <label class="control-label"><s>*</s>版本名称：</label>
            <div class="controls ">
              <input name="version_name" id="version_name" style="width:300px;" type="text" data-rules="{required:true}" class="input-normal control-text">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="control-group span15">
            <label class="control-label">描述：</label>
            <div class="controls control-row4">
              <textarea name="description" class="input-large" type="text" style="overflow:scroll; overflow-x:hidden;resize: none; width:400px;"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="control-group span15">
            <label class="control-label">上传文件：</label>
            <div class="controls">
                <label for="all_apks">
                    <button type="button" id='submit' disabled>选择文件...</button><span id="text">请上传apk文档</span>
                    <input type="file" name="apk" id="all_apks" accept=".apk" disabled>
                </label>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="control-group span15">
            <div id="progress" style="display: none;">
                <label for="mypercent">上传进度：</label>
                <div class="bar" style="width: 0%;"><span style="color: yellow" id="mypercent"></span></div>
            </div>
            <span id="mymessage"></span>
            </div>
        </div>
      </form>
    </div>
  <div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
    <div id="innerdiv" style="position:absolute;">
        <img id="bigimg" style="border:5px solid #fff;" src="" />
    </div>
  </div>
  <script type="text/javascript" src="/static/assets/js/jquery-1.8.1.min.js"></script>
  <script type="text/javascript" src="/static/assets/js/bui-min.js"></script>
  <script type="text/javascript" src="/static/assets/js/config-min.js"></script>
  <script type="text/javascript" src="/static/upload/js/vendor/jquery.ui.widget.js"></script>
  <script type="text/javascript" src="/static/upload/js/jquery.fileupload.js"></script>
  <script type="text/javascript" src="/static/upload/js/jquery.iframe-transport.js"></script>
<script type="text/javascript">
BUI.use('common/page');
</script>
<script type="text/javascript">
    apk_info = {};
    currentFile = null;
    BUI.use('common/search', function (Search) {
        let enumObj = {},
        editing = new BUI.Grid.Plugins.DialogEditing({
            contentId : 'content', //设置隐藏的Dialog内容
            autoSave : false, //添加数据或者修改数据时，自动保存
            triggerCls : 'btn-edit',
        }),
        columns = [
            {title:'序号', dataIndex:'id', width:'3%'},
            {title:'版本号', dataIndex:'version_number', width:'10%'},
            {title:'版本名称', dataIndex:'version_name', width:'10%'},
            {title:'文件名称', dataIndex:'filename', width:'10%'},
            {title:'简介', dataIndex:'description', width:'20%'},
            {title:'下载地址', dataIndex:'download_url', width:'32%'},
            {title:'大小', dataIndex:'apk_size', width:'5%'},
            {title:'上传时间', dataIndex:'upload_time', width:'10%'},
            {title:'操作', dataIndex:'', width:'10%', renderer : function(value, obj){
                    delStr = '<span class="grid-command btn-del" title="删除">删除</span>'; //页面操作不需要使用Search.createLink
                    return delStr;
                }
            }
        ],
        store = Search.createStore('/main/api/apk/', {
            pageSize: 10,
        }),
        gridCfg = Search.createGridCfg(columns, {
            tbar: {
                items: [
                    {text: '<i class="icon-plus"></i>新建', btnCls: 'button button-small', handler:addFunction},
                    {text: '<i class="icon-remove"></i>删除', btnCls: 'button button-small', handler:delFunction}
                ]
            },
            plugins : [editing, BUI.Grid.Plugins.CheckSelection, BUI.Grid.Plugins.AutoFit] // 插件形式引入多选表格
        });
        function readFileinfo(){
            let files = this.files;
            let info = {};
            let fileobj = files[1];
            info['size'] = fileobj.size;
            info['filename'] = fileobj.fieldName;
            return info;
        }
        $("#all_apks").change(function () {
            $("#text").html($("#all_apks").val());
        });

        $("#version_number").on('change', function () {
            if($("#version_number").val() !== "" && $("#version_name").val() !== "") {
                $("#all_apks").attr("disabled", false);
                $("#submit").attr("disabled", false);
            }
            else {
                $("#all_apks").attr("disabled", true);
                $("#submit").attr("disabled", true);
            }
        });
        $("#version_name").on('change', function () {
            if($("#version_number").val() !== "" && $("#version_name").val() !== "") {
                $("#all_apks").attr("disabled", false);
                $("#submit").attr("disabled", false);
            }
            else {
                $("#all_apks").attr("disabled", true);
                $("#submit").attr("disabled", true);
            }
        });
        $('#all_apks').fileupload({
            type: 'POST',
            url: '/main/api/upload-file/',
            dataType: 'json',
            formData: {id: 123},
            autoUpload: true,
            acceptFileTypes: /(\.)apk$/i,
            maxFileSize: 1024 * 1024 * 600,
            minFileSize: 1,
            //previewMaxWidth :
            add: function (ev, data) {
                if(data['originalFiles'].length !== 1){
                    alert("必须选择一个文件！！！");
                }
                apk_info = {};
                apk_info['size'] = data['originalFiles'][0].size;
                apk_info['filename'] = data['originalFiles'][0].name;
                data.submit();
            },
            progressalways: function (e, data) {
                // console.log("progressalways");
            },
            progressall: function (e, data) {
                $('#progress').show();
                var progress = parseInt(data.loaded / data.total * 100);
                $('#progress .bar').css('width', progress + '%');
                $('#mypercent').html(progress + '%');
            },
            fail: function (e, data) {
                // console.log("fail");
            },
            done: function (e, data) {
                let resp = data.response();
                if(resp['result']['result'] === 'ok') {
                    $('#mypercent').html("上传成功！！！");
                }else{
                    $('#mypercent').html("上传失败！！！");
                    if(resp['result']['error'] !== "") {
                        $('#mymessage').html(resp['result']['error']);
                    }
                    else {
                        $('#mymessage').html(resp['result']);
                    }
                }
            },
            always: function (e, data) {
                // console.log("always");
            }
        });
        editing.on("accept", function () {
            grid = editing.get('grid');
            store = grid.get('store');
            let record = editing.get('record');
            record['info'] = apk_info;
            let new_record = JSON.stringify(record);
            console.log(new_record);
            upload_apk_info(new_record);
        });
        // editing.on("cancel", function () {
        // });
        search = new Search({
            store : store,
            gridCfg : gridCfg
        });
        grid = search.get('grid');
        search_store = search.get('store');

        function addFunction(){
            var newData = {isNew : true}; // 标志是新增加的记录
            editing.add(newData, 'name'); // 添加记录后，直接编辑
        }
        function delFunction(){
            var selections = grid.getSelection();
            delItems(selections);
        }

        function delItems(items){
            var ids = [];
            BUI.each(items, function(item){
                ids.push(item.id);
            });

            if(ids.length){
                BUI.Message.Confirm('确认要删除选中的记录么？', function(){
                    store.save('remove',{ids : ids});
                    flushpage();
                }, 'question');
            }
        }

        // 监听事件，删除一条记录
        grid.on('cellclick', function(ev){
            var sender = $(ev.domTarget); //点击的Dom
            if(sender.hasClass('btn-del')){
                var record = ev.record;
                delItems([record]);
            }
        });
        function flushpage(){
            setTimeout(flushaction, 1000);
        }
        function flushaction(){
            search.load(false);
        }
        search_store.on('update', function () {
            flushpage();
        });
        search_store.on('add', function () {
            flushpage();
        })
    });
    function upload_apk_info(upload_data) {
      $.ajax({
          type: "POST",
          dataType: 'json',
          url: "/main/api/apk/",
          cache: false,
          contentType: 'application/json',
          data: upload_data,
          async: false,
          error:function(){
             alert("数据请求失败！！！");
          },
          success: function (data) {
              if (data['result'] === 'ok') {
              }else if(data['result']){
                  alert("服务器返回错误：" + data['result']);
              }else{
                  alert("服务器返回异常：" + data);
              }
          }
      });
    }
</script>
</body>
</html>
